@font-face {
    font-family: 'PixelFont';
    src: url('../assets/fonts/PixelFont.otf');
}

#brand_name {
  color: #f0f8ff;
  font-size: xx-large;
  display: flex;
  font-family: 'PixelFont';
  font-size: clamp(3rem, 8vw, 6rem);
  text-shadow:
    0 0 5px #00ff00,
    0 0 10px #00ff00,
    0 0 20px #00ff00,
    0 0 40px #00ff00;
}

#btn_game {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

#btn_game button {
  padding: 10px 20px;
  font-size: clamp(1rem, 8vw, 2rem);
  font-family: 'PixelFont';
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #00ff0d;
  background-color: #d1d1d100;
  color: #00ff00;
  transition: background-color 0.3s;
}

#btn_game button:hover {
  background-color: #2e5033;
}
