@font-face {
    font-family: 'PixelFont';
    src: url('../assets/fonts/PixelFont.otf');
}

#brand_name {
  color: #f0f8ff;
  font-size: xx-large;
  display: flex;
  font-family: 'PixelFont';
  font-size: clamp(3rem, 8vw, 6rem);
  text-shadow:
    0 0 0.5rem #00ff00,
    0 0 1rem #00ff00,
    0 0 2rem #00ff00,
    0 0 4rem #00ff00;
}

#btn_game {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#btn_game button {
  padding: 1rem 2rem;
  font-size: clamp(1rem, 8vw, 2rem);
  font-family: 'PixelFont';
  cursor: pointer;
  border-radius: 8px;
  border: 0.1rem solid #00ff0d;
  background-color: #d1d1d100;
  color: #81fa81;
  transition: background-color 0.3s;
}

#btn_game button:hover {
  text-shadow:
    0 0 0.5rem #00ff00,
    0 0 1rem #00ff00,
    0 0 2rem #00ff00;
  box-shadow:
    0 0 0.5rem #00ff00,
    0 0 1rem #00ff00,
    0 0 2rem #00ff00;
}
